// @import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

* {
    margin: 0px;
    padding:0px;
}

@media only screen and (min-width: 1600px) {
    .main{
        padding-left:100px;
        padding-right:100px;
    }
} 

input[type="file"] {
    display: none;
}

.upload-btn {
    width: 0px;
    height: 0px !important;
    padding:19px !important;
}

.fill-space{
    flex: 1 1 auto;
}

.main{
    margin:20px;
}

.top-menu button, .upload-btn  {
    margin:10px; 
}

#graph-panel {
    max-height: 640px;
}

#canvas-panel-block {
    overflow: scroll;
    max-height: 500px;
}

#container {
    width: 100%;
    min-height: 700px;
    margin-top:250px;
}

.nodeInput{
    text-align: center;
    background-color: transparent;
    border:none;
}

.nodeInput:focus{
    outline: none;
}

#result-table {
    width: 100%;
    td:first-child, th:first-child{
        font-family: 'Cambria';
        font-size: 18px;
        font-style: italic;
        // font-weight: bold;
    }
}

.pc-font {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(224, 224, 224);
    // background: hsl(204, 86%, 53%);
    // color:white;
}




.info-table {
    width: 100%;
}
