* {
    margin: 0px;
    padding:0px;
}



input[type="file"] {
    display: none;
}
// .custom-file-upload {
//     border: 1px solid #ccc;
//     display: inline-block;
//     padding: 6px 12px;
//     cursor: pointer;
// }

.upload-btn {
    width: 0px;
    height: 0px !important;
    padding:19px !important;
}


.main{
    margin:20px;
}

.is-ancestor{
    max-height: 700px;
}


.graph-panel{
    // width:100%;
}

.top-menu button, .upload-btn  {
    margin:10px; 
}

#container {
    // padding:0px;
    // max-width: 500px;
    min-width: 600px;
    height: 600px;
}


#canvas-panel {
    overflow: hidden;
}

#canvas-container {
    height: 500px;
    overflow: scroll;


}

.nodeInput{
    text-align: center;
    background-color: transparent;
    border:none;
    /* border:1px solid red; */
}



.nodeInput:focus{
    outline: none;
}